#Order deny,allow
#Deny from all

<Files ~ "^\.">
    Order allow,deny
    Deny from all
</Files>

# Security: Don't allow browsing of directories
Options -Indexes

# Rewrite rules for Zend Framework
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
