[settings]
cache_dir = tmp
base_url = http://raumbelegung.stud.ailoo.net
infoscreen_url = http://www.fh-kufstein.at/pub/screen.2008-09-15.0942625880/screenitem.2008-09-15.1195779202/
infoscreen_stgid = 0
data_cache_lifetime_single = 300
data_cache_lifetime_week = 3600
list_cache_lifetime = 3600